# Database
DATABASE_URL="postgresql://kynetic_user:kynetic_password@localhost:5432/kynetic_db"

# JWT
JWT_ACCESS_SECRET=entrez_votre_secret_jwt_access_ici
JWT_REFRESH_SECRET=entrez_votre_secret_jwt_refresh_ici
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=entrez_votre_client_id_google_ici
GOOGLE_CLIENT_SECRET=entrez_votre_client_secret_google_ici
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback